/.project
/.buildpath
/.settings/
/composer.phar
/php-cs-fixer.phar
/vendor
/nbproject
/Resources/doc/generated

*.tmp
*.patch
*.log*
*.swp
*.bak
*.DS_Store
.#*
*.iml
/.idea
phpunit.xml

.vagrant
Vagrantfile

